@mixin button($bcolor,
$url,
$x1,
$y1,
$bor,
$col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}
.button-container{
  font-family: $main_text_font;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 210px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-bottom: 2px solid $active_border_color;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;

  &_cancel{
    margin-right: 15px;
  }
  &:hover{
    border: 2px solid $inactive_border_color;
  }

  button {
    font-family: $main_text_font;
    width: 101%;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;

    @include button($active_button_color,
            "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
            3000%,
            100%,
            none,
            #fff);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(29) forwards;
      animation: ani 0.7s steps(29) forwards;
    }
  }
}
.mas {
  font-family: $main_text_font;
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-weight: 400;
  font-size: 18px;
  padding-top: 10px;
  overflow: hidden;
  height: 40px;
  //background-color: yellow;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

a{
  color:#00ff95;
}
