$main-text-color: #3d424d;
$active_text_color: #fff;
$main_text_size: 14px;
$semi_bold_text: 600;
$main_text_font: 'Open Sans', sans-serif;
$active_button_color: #ff3b30;
$active_border_color: #d93229;
$inactive_text_color: #8b93a3;
$inactive_border_color: #d7deea;
$popUp_background: rgba(0, 0, 0, 0.6);
$popUp_content_background: #fff;
$popUp_content_shadow: 0 0 8px 0 rgba(0, 0, 0, 65);
$border_radius: 5px;
