@import "reset";
@import "variables";

.contentBlock {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.modal__closeBtn:hover{
  svg path {
    fill: $active_button_color !important;
  }
}

.button {
  cursor: pointer;
  width: 210px;
  height: 40px;
  font-family: $main_text_font;
  font-size: 18px;
  font-weight: $semi_bold_text;
  border: 2px solid $active_border_color;
  color: #000;
  background-color: $active_button_color;
  outline: none;
  border-radius: $border_radius;
  letter-spacing: 0.04em;
}

.is-hidden{
  display: none;
}

.open{
  display: block;
}

.modal {
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $popUp_background;

  &__content {
    width: 580px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $popUp_content_background;
    box-shadow: $popUp_content_shadow;
    border-radius: $border_radius;
    color: $main-text-color;
    font-family: $main_text_font;
  }

  &__header {
    display: block;
  }

  &__closeBtn {
    display: block;
    margin-top: 19px;
    margin-left: 13px;
    border: none;
    outline: none;
    transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    &:focus {
      cursor: pointer;
    }
  }

  &__body {
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
  }

  &__notificationIcon {
    width: 118px;
    height: 121px;
    margin-top: -10px;
  }
  &__text {
    font-size: 29px;
    line-height: 36px;
    padding-top: 25px;
    padding-bottom: 16px;
    letter-spacing: -0.024em;
    font-weight: 300;
  }

  &__buttons {
    margin-bottom: 48px;
    margin-top: 26px;
  }
}

@import "animation/button_modal";
@import "animation/buttons_inside_modal";




.modal__button {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 210px;
  height: 40px;
  overflow: hidden;
  border-bottom: 2px solid $active_border_color;
  font-family: $main_text_font;
  font-weight: $semi_bold_text;
  transition: 0.5s;
  letter-spacing: 0.04em;
  border-radius: $border_radius;

  &_cancel{
    margin-right: 15px;
    border: 2px solid $inactive_border_color;
  }

  .control_button {
    width: 101%;
    height: 100%;
    font-family: $main_text_font;
    font-weight: $semi_bold_text;
    font-size: 18px;
    letter-spacing: 0.04em;

    @include button($active_button_color,
            "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
            3000%,
            100%,
            none,
            $active_text_color);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
    &__C{
      @include button(#fff,
              "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
              3000%,
              100%,
              none,
              $inactive_text_color);
    }


    &:hover {
      -webkit-animation: ani 0.7s steps(29) forwards;
      animation: ani 0.7s steps(29) forwards;
    }
  }

  .mas {
    position: absolute;
    text-align: center;
    color: fuchsia;
    width: 101%;
    font-family: $main_text_font;
    font-weight: $semi_bold_text;
    font-size: 18px;
    margin-top: 8px;
    overflow: hidden;
    line-height: 36;
  }
}



@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

