@import "reset";
@import "variables";
@import "animation/bubbly_button";
@import "animation/btn_uninstall";

.wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  width: 210px;
  height: 40px;
  font-family: $main_text_font;
  font-size: 18px;
  font-weight: $semi_bold_text;
  outline: none;
  border-radius: $border_radius;
  letter-spacing: 0.04em;
  appearance: none;
  background-color: transparent;
  line-height: 1;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }

  &_uninstall {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $active_border_color;
    background-color: $active_button_color;
    color: $active_text_color;
  }
  &_cancel {
    margin-right: 15px;
    border: 2px solid $inactive_border_color;
    color: $inactive_text_color;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px $inactive_border_color inset;
    }
  }
}

.modal {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $popUp_background;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 1;

  &__content {
    opacity: 0;
    width: 580px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: $popUp_content_background;
    box-shadow: $popUp_content_shadow;
    border-radius: $border_radius;
    color: $main-text-color;
    font-family: $main_text_font;
    transition: all 0.5s ease;

    &.open {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  &__header {
    display: block;
  }
  &__closeIcon {
    display: block;
    margin-top: 19px;
    margin-left: 13px;
    border: none;
    outline: none;
    transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    &:focus {
      cursor: pointer;
    }
  }
  &__body {
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
  }
  &__notificationIcon {
    width: 118px;
    height: 121px;
    margin-top: -11px;
  }
  &__text {
    font-size: 29px;
    line-height: 36px;
    padding-top: 25px;
    padding-bottom: 16px;
    letter-spacing: -0.024em;
    font-weight: 300;
  }
  &__btn {
    margin-bottom: 48px;
    margin-top: 26px;
    vertical-align: middle;
  }
}

.hidden {
  visibility: hidden;
}

.open {
  visibility: visible;
  opacity: 1;
}

.modal__closeIcon:hover {
  svg {
    fill: $active_button_color;
  }
}


